  .bannerContainer {
    position:relative; 
        }

.navbar {
    position:absolute;
    }
            .navbar-nav .nav-item a {
                color:red !important;
            }

            .form_show {
    background: white;
    width: 400px;
    height: 200px;
     z-index: 30;
    border-radius: 10px;
        display:none;
            }
            #inOverlay,.form_show {
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
    #close_btn{
        position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #ff8a73;
    text-align: center;
    /* line-height: 30px; */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
            .show {
                display: block;
            }